body{
    background-color: cornflowerblue;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/*
#container{
    margin: auto;
    box-sizing: border-box;
    width: auto;
    height: auto;

}
*/
/*
.form-group{
    padding: 20px;
    width: 100%;
    margin: 5px 0px 20px 0px;  
}
*/
#survey-form{
    background-origin: padding-box;
}


.form-box{
 border: 1px solid black;
 margin: 100px; 
 max-width: 750px;
}

.form-padding {
    padding: 25px;
}

.input-field-style {
    width: 100%;
    display: block;
}
